{% extends "base.html" %} {% block mainbody %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta charset="utf-8" />
    <script src="/static/js/echarts.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>
{#    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>#}
<style>
        .chart-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            max-width: 600px;
            background: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 8px;
        }
        .chart-container .close-btn {
            text-align: right;
        }
        .chart-container .close-btn button {
            background: #ff4d4f;
            color: #fff;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 4px;
        }
        .chart-container .close-btn button:hover {
            background: #d9363e;
        }
</style>
</head>
<title>关系</title>
<div class="container">
    <div class="row">
    <!--head start-->
    <div class="col-md-12">
        <h3 class="page-header"><i class="fa fa-link" aria-hidden="true"></i> 分析日志 </h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="\">Home</a></li>
                <li><i class="fa fa-link" aria-hidden="true"></i>分析日志</li>
            </ol>
    </div>
    
    <div class = "col-md-12">
    	<div class = "panel panel-default">

       		<div class = "panel-body">

			    <form  id ="searchRelationForm" class="form-inline" style="padding-left: 2% ; padding-right: 0%" method="get">
					<label>执行描述</label>
			    	<div id = "entity1" class="form-group" style="padding-left: 2%">
			        	<input type="text" id = "entity1_text" name = "entity1_text" class ="form-control" placeholder="请输入执行描述" aria-describedby="basic-addon1">
			 		</div>
			 		<!--dropdown combobox start-->
					<label style="padding-left: 2%;">执行算法</label>
			        <div class="btn-group" style="padding-left: 2%" > <a class="btn btn-default dropdown-toggle btn-select form-control" data-toggle="dropdown" id="btnCountry">Select a Algorithm<span class="caret"></span></a>
			            <ul class="dropdown-menu">
			                <li onclick="selectOption(1)"><a href="#">PCA</a></li>
			                <li onclick="selectOption(2)"><a href="#">clustering</a></li>
			                <li onclick="selectOption(3)"><a href="#">Decision Tree</a></li>
			                <li onclick="selectOption(4)"><a href="#">Random Forest</a></li>
			                <li onclick="selectOption(5)"><a href="#">SVM</a></li>
			                <li onclick="selectOption(6)"><a href="#">Transformer</a></li>
			                <li onclick="selectOption(7)"><a href="#">BERT</a></li>
			                <li onclick="selectOption(8)"><a href="#">LSTM</a></li>
			                <li class="divider"></li>
			                <li><a href="#"><span class="glyphicon glyphicon-star"></span>Other</a></li>
			            </ul>
			        </div>
			        <!--dropdown combobox end-->
			        <div id = "relation_name" class = "form-group hide" style="padding-top: 2%">
			        	 <input type="text" id = "relation_name_input" name = "relation_name_text" class ="form-control" placeholder="输入关系名称" aria-describedby="basic-addon1">
			        </div>
					<label style="padding-left: 2%;">执行用户</label>
			        <div id = "entity2" class = "form-group" style="padding-top: 0%">
			        	 <input type="text" id = "entity2_text" name = "entity2_text" class ="form-control" placeholder="请输入执行用户" aria-describedby="basic-addon1">
			        </div>
			        <div class="btn-group" style="padding-top: 0%; padding-left: 1%;">
			            <button type="button" id="btnSearch" class="btn btn-primary" onclick = "document.getElementById('searchRelationForm').submit();">Search</button>
			        </div>
				</form>
			</div>
		</div>
	</div>


    <div class = "col-md-12">
		<div class="panel panel-default">
			<header class="panel-heading">
				查询条件：


    <button class="execute-command">⚡ 执行命令</button>
    <button class="clear-command">✖ 清空</button>
    <button class="delete-command">🗑 删除</button>

	<script>
 
 		let selectedOption = 0;
        let chart = null;

		function selectOption(option) {
			selectedOption = option;
			document.getElementById('startexe').innerText = `开始执行`;
            var algorithmNames = ["PCA", "Clustering", "Decision Tree", "Random Forest", "SVM", "Transformer", "BERT", "LSTM"];
            document.getElementById('btnCountry').innerText = algorithmNames[option - 1] + ' ';
		}

		function randomClusterCenter() {
            return {
                x: Math.random() * 100 - 50,
                y: Math.random() * 100 - 50,
                z: Math.random() * 100 - 50
            };
        }

        function generateClusterPoints(center, numPoints, spread) {
            const points = [];
            for (let i = 0; i < numPoints; i++) {
                const point = [
                    center.x + (Math.random() - 0.5) * spread,
                    center.y + (Math.random() - 0.5) * spread,
                    center.z + (Math.random() - 0.5) * spread
                ];
                points.push(point);
            }
            return points;
        }

        function generateNoisePoints(numPoints) {
            const points = [];
            for (let i = 0; i < numPoints; i++) {
                const point = [
                    Math.random() * 100 - 50,
                    Math.random() * 100 - 50,
                    Math.random() * 100 - 50
                ];
                points.push(point);
            }
            return points;
        }

        // 生成聚类数据
        function generateClusterData(numClusters, pointsPerCluster, clusterSpread, noiseLevel) {
            data = [];
            outliers = [];

            for (let i = 0; i < numClusters; i++) {
                const center = randomClusterCenter();
                const clusterPoints = generateClusterPoints(center, pointsPerCluster, clusterSpread);
                data.push(...clusterPoints);
            }

            const noisePoints = generateNoisePoints(pointsPerCluster * numClusters * noiseLevel);
            data.push(...noisePoints);

            // 生成离群点
            const numOutliers = 3; // 设定离群点数量
            for (let i = 0; i < numOutliers; i++) {
                const outlier = [
                    Math.random() * 200 - 100,
                    Math.random() * 200 - 100,
                    Math.random() * 200 - 100
                ];
                outliers.push(outlier);
            }

            return { data, outliers };
        }

        function selectOption(option) {
            selectedOption = option;
            document.getElementById('startexe').innerText = `开始执行`;
            var algorithmNames = ["PCA", "Clustering", "Decision Tree", "Random Forest", "SVM", "Transformer", "BERT", "LSTM"];
            document.getElementById('btnCountry').innerText = algorithmNames[option - 1] + ' ';
    
        }

        function randomClusterCenter() {
            return {
                x: Math.random() * 100 - 50,
                y: Math.random() * 100 - 50,
                z: Math.random() * 100 - 50
            };
        }

        function generateClusterPoints(center, numPoints, spread) {
            const points = [];
            for (let i = 0; i < numPoints; i++) {
                const point = [
                    center.x + (Math.random() - 0.5) * spread,
                    center.y + (Math.random() - 0.5) * spread,
                    center.z + (Math.random() - 0.5) * spread
                ];
                points.push(point);
            }
            return points;
        }

        function generateNoisePoints(numPoints) {
            const points = [];
            for (let i = 0; i < numPoints; i++) {
                const point = [
                    Math.random() * 100 - 50,
                    Math.random() * 100 - 50,
                    Math.random() * 100 - 50
                ];
                points.push(point);
            }
            return points;
        }

        // 生成聚类数据
        function generateClusterData(numClusters, pointsPerCluster, clusterSpread, noiseLevel) {
            const data = [];
            const outliers = [];

            for (let i = 0; i < numClusters; i++) {
                const center = randomClusterCenter();
                const clusterPoints = generateClusterPoints(center, pointsPerCluster, clusterSpread);
                data.push(...clusterPoints);
            }

            const noisePoints = generateNoisePoints(pointsPerCluster * numClusters * noiseLevel);
            data.push(...noisePoints);

            // 生成离群点
            const numOutliers = 3; // 设定离群点数量
            for (let i = 0; i < numOutliers; i++) {
                const outlier = [
                    Math.random() * 200 - 100,
                    Math.random() * 200 - 100,
                    Math.random() * 200 - 100
                ];
                outliers.push(outlier);
            }

            return { data, outliers };
        }

        function showGraph(fileid) {
            const url = '/api/data_analysis/';
            const test_data = {
                option: selectedOption,
                fileid: fileid,
            };
            console.log('Success:')
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(test_data)
            })
            .then(response => response.json())
            .then(test_data => {
                console.log('Success:', test_data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
            // const timeDisplay = document.getElementById('time_show');
            // // 获取当前时间
            // const currentTime = new Date().toLocaleString();
            // // 将时间显示在指定元素中
            // timeDisplay.textContent = currentTime;

            // 修改按钮文本
            document.getElementById('startexe').innerText = `再次执行 (选项 ${selectedOption})`;

            // 显示图表容器
            const chartContainer = document.getElementById('chartContainer');
            chartContainer.style.display = 'block';

            // 销毁之前的图表实例
            if (chart !== null) {
                chart.dispose();
            }

            // 初始化ECharts实例
            chart = echarts.init(document.getElementById('chart'));

            if (selectedOption === 1) {
                // 生成正态分布随机数
                function randomNormal(mean, std) {
                    var u = 0, v = 0;
                    while (u === 0) u = Math.random();
                    while (v === 0) v = Math.random();
                    return mean + std * Math.sqrt(-2.0 * Math.log(u)) * Math.cos(2.0 * Math.PI * v);
                }

                // 生成随机散点数据
                var a = 20; // 常数a
                var data = [];
                for (var i = 0; i < 200; i++) {
                    var x = randomNormal(a / 2, a / 6); // 正态分布随机生成x
                    x = Math.max(0, Math.min(a, x)); // 确保x在[0, a]范围内
                    var y = a - x + randomNormal(0, a / 10); // 增加随机性
                    y = Math.max(0, y); // 确保y在第一象限
                    data.push([x, y]);
                }

                // 确定离群点（这里简单处理：超过一定范围的点为离群点）
                var outliers = data.filter(point => point[0] < 2 || point[0] > a - 2 || point[1] < 2 || point[1] > a - 2);
                var inliers = data.filter(point => !outliers.includes(point));

                // 指定图表的配置项和数据
                var option = {
                    title: {
                        text: 'Scatter Plot on y = a - x Line',
                        left: 'center'
                    },
                    tooltip: {
                        trigger: 'item'
                    },
                    xAxis: {
                        type: 'value'
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            name: 'Inliers',
                            type: 'scatter',
                            data: inliers,
                            itemStyle: {
                                color: 'green'
                            }
                        },

                    ]
                };

                // 使用刚指定的配置项和数据显示图表
                chart.setOption(option);
            } else if (selectedOption === 2) {
                // 生成模拟数据
                const numClusters = 1;
                const pointsPerCluster = 40;
                const clusterSpread = 2;
                const noiseLevel = 0.7;
                const { data, outliers } = generateClusterData(numClusters, pointsPerCluster, clusterSpread, noiseLevel);

                // 指定图表的配置项和数据
                var option = {
                    title: {
                        text: 'Test Data - t-SNE'
                    },
                    xAxis3D: {
                        type: 'value'
                    },
                    yAxis3D: {
                        type: 'value'
                    },
                    zAxis3D: {
                        type: 'value'
                    },
                    grid3D: {
                        viewControl: {
                            // 3D视图控制
                            projection: 'orthographic'
                        }
                    },
                    series: [
                        {
                            type: 'scatter3D',
                            data: data,
                            symbolSize: 10,
                            itemStyle: {
                                opacity: 0.8
                            }
                        },
                        {
                            type: 'scatter3D',
                            data: outliers,
                            symbolSize: 10,
                            itemStyle: {
                                color: 'red',
                                opacity: 0.8
                            }
                        }
                    ]
                };

                // 使用刚指定的配置项和数据显示图表
                chart.setOption(option);
            }
        }

        function closeChart() {
            document.getElementById('chartContainer').style.display = 'none';
        }
	</script>
    <!-- <table>
        <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>id</th>
                <th>执行描述</th>
                <th>执行命令</th>
                <th>执行用户</th>
                <th>执行状态</th>
                <th>执行时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox"></td>
                <td>1160<br>4</td>
                <td>ps -ef | grep "java"</td>
                <td>ps -ef | grep "java"</td>
                <td>admin</td>
                <td><span class="status-completed">上传完成</span></td>
                <td id="time_show">2024-06-01 16:39:50<br>持续时间: 10s</td>
                <td>
                    <button  class="action-link" id="startexe" onclick="showGraph()">开始执行</button>
                    <a href="#" class="action-link">命令</a>
                    <a href="#" class="action-link">日志</a>
                    <a href="#" class="action-link">中断</a>
                    <a href="#" class="action-link delete">删除</a>
                </td>
            </tr>
        </tbody>
    </table> -->
    <table>
        <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>id</th>
                <!-- <th>执行描述</th> -->
                <!-- <th>执行命令</th> -->
                <th>文件命名</th>
                <th>执行用户</th>
                <th>执行状态</th>
                <th>上传时间</th>
                <th>文件大小</th>
                <th>文件描述</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td><input type="checkbox"></td>
                <td>{{ row.id }}</td>
                <!-- <td>{{ row.description }}</td> -->
                <td>{{row.filename}}</td>
                <td>admin</td>
                <td><span class="status-completed">上传完成</span></td>
                <td>{{ row.upload_date }}</td>
                <td>{{ row.file_size }} KB</td>
                <td>{{row.file_description}}</td>
                <td>
                    <button class="action-link" id="startexe" onclick="showGraph('{{ row.id }}')">开始执行</button>
                    <a href="#" class="action-link">命令</a>
                    <a href="#" class="action-link">日志</a>
                    <a href="#" class="action-link">中断</a>
                    <a href="#" class="action-link delete">删除</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
	<div class="chart-container" id="chartContainer">
        <div class="close-btn">
            <button onclick="closeChart()">关闭</button>
        </div>
        <div id="chart" style="width: 100%; height: 400px;"></div>
    </div>
	</div>
	
	<!-- {% if ctx %}
	<div class = "col-md-12">
		<div class = "panel panel-default">
			<header class = "panel-heading">
				查询结果：
			</header>
			<div class = "panel-body">
				<div style="padding: 2%">
					<h2>暂未找到相应的匹配</h2>
				</div>
			</div>
		</div>
	</div>
	{% endif %} -->

    

</div>
<!-- <script src="/static/js/jquery-1.8.3.min.js"></script>
{% if searchResult %}
<script type="text/javascript">
	var searchResult = {{searchResult|safe}}
	//用表格列出所有的关系
    tableData = []
    for (var i = 0 ; i < searchResult.length ; i++){
        relationData = {} ;
        relationData['entity1'] = searchResult[i]['n1']['title'];
        relationData['relation'] = searchResult[i]['rel']['type'] ;
        relationData['entity2'] = searchResult[i]['n2']['title'] ;
        tableData.push(relationData) ;
    }
    jQuery(function(){
        $('.table').footable({
        "columns": [{"name":"entity1",title:"Entity1"} ,
                  {"name":"relation",title:"Relation"},
                  {"name":"entity2",title:"Entity2"}],
        "rows": tableData
        });
    });

    //echarts 数据
    var data = [] ;
    var links = [] ;	

    //构造展示的数据
    var maxDisPlayNode = 15 ;
    var id = 0 ;
    for( var i = 0 ;id < maxDisPlayNode&& i<searchResult.length ; i++ ){
        //获取node1
        node1 = {} ;
        node1['name'] = searchResult[i]['n1']['title'] ;
        node1['draggable'] = true ;
        if('url' in searchResult[i]['n1']){
            node1['category'] = 1 ;
        }
        else{
            node1['category'] = 2 ;
        }
        var flag = 1 ;

        relationTarget = id.toString() ;
        for(var j = 0 ; j<data.length ;j++){
        	if(data[j]['name'] === node1['name']){
        		flag = 0 ;
        		relationTarget = data[j]['id'] ;
        		break ;
        	}
        }

        node1['id'] = relationTarget ; 
        if(flag === 1){
        	id++ ;
        	data.push(node1) ;
        }

        //获取node2
        node2 = {} ;
        node2['name'] = searchResult[i]['n2']['title'] ;
        node2['draggable'] = true ;
        if('url' in searchResult[i]['n2']){
            node2['category'] = 1 ;
        }
        else{
            node2['category'] = 2 ;
        }
        flag = 1 ;
        relationTarget = id.toString() ;
        for(var j = 0 ; j<data.length ;j++){
        	if(data[j]['name'] === node2['name']){
        		flag = 0 ;
        		relationTarget = data[j]['id'] ;
        		break ;
        	}
        }
        node2['id'] = relationTarget ; 
        if(flag === 1){
        	id++ ;
        	data.push(node2) ;
        }
        //获取relation
        relation = {}
        relation['source'] = node1['id'];
        relation['target'] = node2['id'] ;
        relation['category'] = 0 ;
        flag = 1;  
        for(var j = 0 ;j<links.length;j++){
        	if(links[j]['source'] == relation['source'] && links[j]['target'] == relation['target']){
        		links[j]['value'] = links[j]['value'] + searchResult[i]['rel']['type'] ;
        		flag = 0 ;
        		break ;
        	}
        }           
        if(flag === 1){
        	relation['value'] = searchResult[i]['rel']['type'] ;
        	relation['symbolSize'] = 10;
        	links.push(relation) ;
        }

    }


     // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('graph'));
    
    option = {
	    title: {
	        text: ''
	    },
	    tooltip: {},
	    animationDurationUpdate: 1500,
	    animationEasingUpdate: 'quinticInOut',
	    label: {
	        normal: {
	            show: true,
	            textStyle: {
	                fontSize: 12
	            },
	        }
	    },
	    legend: {
	        x: "center",
	        show: false
	    },
	    series: [

	        {
	            type: 'graph',
	            layout: 'force',
	            symbolSize: 45,
	            focusNodeAdjacency: true,
	            roam: true,
	            edgeSymbol: ['none', 'arrow'],
	            categories: [{
	                name: '查询实体',
	                itemStyle: {
	                    normal: {
	                        color: "#009800",
	                    }
	                }
	            }, {
	                name: 'HudongItem',
	                itemStyle: {
	                    normal: {
	                        color: "#4592FF",
	                    }
	                }
	            }, {
	                name: 'NewNode',
	                itemStyle: {
	                    normal: {
	                        color: "#C71585",
	                    }
	                }
	            }],
	            label: {
	                normal: {
	                    show: true,
	                    textStyle: {
	                        fontSize: 12,
	                    },
	                }
	            },
	            force: {
	                repulsion: 1000
	            },
	            edgeSymbolSize: [4, 50],
	            edgeLabel: {
	                normal: {
	                    show: true,
	                    textStyle: {
	                        fontSize: 10
	                    },
	                    formatter: "{c}"
	                }
	            },
	            data: data,
	            links: links,
	            lineStyle: {
	                normal: {
	                    opacity: 0.9,
	                    width: 1.3,
	                    curveness: 0,
	                    color:"#262626",
	                }
	            }
	        }
	    ]
	};
	// 使用刚指定的配置项和数据显示图表。
	myChart.setOption(option);

</script>

{% endif %} -->
<!-- <script>

	$(".dropdown-menu li a").click(function(){
	   var selText = $(this).text();
	   $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
	   if(selText.trim()!="Other"){
	   	$("#relation_name_input").val(selText.trim()) ;
	   }
	   //combobox behavior
	   if (selText.trim()==="Other") {
	       $("#relation_name").removeClass("hide");
	   }
	   else{
	   	   $("#relation_name").addClass("hide");
	   }
	  
	});


	// $("#btnSearch").click(function(){
	// 	alert($('.btn-select').text()+", "+$('.btn-select2').text());
	// });
</script> -->
{% endblock %}
